.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e2dd;
  width: 50vmin;
  border-radius: 10px;
  height: 4rem;
  padding: 0 15px;
  margin: 10vmin auto;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  width: 100%;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

#icon {
  color: #757474;
  font-size: 9vmin;
  position: absolute;
  left: 134vmin;
  top: 17vmin;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

#icon:hover {
  color: #e4e2dd;
  cursor: pointer;
  transition: 0.5s;
}

#icon:active {
  transform: scale(1.1);
}

.result-text h3 {
  padding-bottom: 14px;
  color: black;
  margin-left: 5vmin;
  font-family: "Times New Roman", Times, serif;
}

.result-text img {
  margin-left: 5vmin;
  width: 25vmin;
  height: auto;
  border-radius: 10px;
}

.line {
  background-color: black;
  width: 100%;
  height: 2px;
}

.results-wrapper {
  background-color: #e4e2dd;
  margin-top: 70px;
  border-radius: 20px;
  width: 80vmin;
  padding: 3vmin;
  margin-bottom: 100px;
}

.result-text {
  background-color: #e4e2dd;
  margin-top: 7vmin;
  display: flex;
  transition: 0.5s;
  font-size: 14px;
  width: 90%;
}

.result-text:hover {
  background-color: rgb(255, 255, 255);
  padding: 3vmin;
  padding-left: 3vmin;
  transition: 0.5s;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.empty-icon {
  text-align: center;
  vertical-align: middle;
  line-height: 25vmin;
  font-size: 7vmin;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  color: #757474;
}

.empty {
  text-align: center;
  vertical-align: middle;
  line-height: 25vmin;
  font-size: 3vmin;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #757474;
}

.playlist-wrapper {
  background-color: #e4e0dd;
  margin-top: 70px;
  border-radius: 20px;
  width: 80vmin;
  padding: 3vmin;
  margin-bottom: 70px;
}

.playlist-title {
  font-size: 4.5vmin;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.add-buttom {
  background-color: #b6b3b3;
  padding: 12px;
  margin-top: 3vmin;
  margin-left: 5vmin;
  border-radius: 20%;
  border: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
  cursor: pointer;
  outline: none;
}

.add-buttom:hover {
  background-color: rgb(24, 21, 21);
  color: #e4e2dd;
  cursor: pointer;
}

.add-buttom:active {
  transform: scale(1.1);
}

#plus-icon {
  color: #e4e0dd;
  font-size: 3vmin;
}

.remove-buttom {
  background-color: #b6b3b3;
  padding: 12px;
  margin-top: 3vmin;
  margin-left: 5vmin;
  border-radius: 20%;
  border: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.remove-button:hover {
  background-color: black;
  color: #e4e2dd;
  cursor: pointer;
}

.remove-button:active {
  transform: scale(1.1);
}

.remove-buttom:hover {
  background-color: rgb(24, 21, 21);
}

#x-icon {
  color: #e4e0dd;
  font-size: 3vmin;
}

.save-button {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 35%;
  margin-top: 5vmin;
  padding: 30px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.save-button:hover {
  background-color: black;
  color: #e4e2dd;
  cursor: pointer;
}

.save-button:active {
  transform: scale(0.98);
}

.saved-button {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 5vmin;
  padding: 30px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}

#checkmark-icon {
  margin-bottom: -7px;
  font-size: 4vmin;
}

.create-new {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 1vmin;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  margin-left: 3%;
}

.create-new:hover {
  background-color: black;
  color: #e4e2dd;
  cursor: pointer;
}

.create-new:active {
  transform: scale(0.98);
}

/* Adjustments for tablets and below */
@media (max-width: 768px) {

  input {
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #icon {
    font-size: 15vmin;
    position: absolute;
    left: 77vmin;
    top: 24vmin;
  }

  .result-text {
    display: flex;
    flex-direction: column;
  }

  .track-info {
    margin-bottom: 5vmin;
  }

  .result-text img {
    width: 45vmin;
    height: auto;
    margin-bottom: 5vmin;
    margin-right: 30vmin;
  }

  .playlist-wrapper {
    margin-top: 0px;
    border-radius: 20px;
    padding-bottom:40px;
  }

  .playlist-title {
    font-size: 6.5vmin;
  }

  .empty {
    padding-top:40px;
    font-size: 5vmin;
  }

  .empty-icon {
    padding-top:60px;
    font-size: 9vmin;
  }

  .add-buttom {
    padding: 12px;
    margin-top: 1vmin;
    margin-left: 55vmin;
  }

  #plus-icon {
    font-size: 6vmin;
  }

  .remove-buttom {
    margin-top: 3vmin;
    margin-left: 55vmin;
    border-radius: 20%;
  }

  #x-icon {
    font-size: 6vmin;
  }

  .save-button {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 25%;
    margin-top: 5vmin;
    padding: 30px;
    border-radius: 20px;
  }
  
  #checkmark-icon {
    margin-bottom: -7px;
    font-size: 6vmin;
  }

  .create-new {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 1vmin;
    margin-left: 7%;
  }

  .results-wrapper {
    background-color: #e4e2dd;
    margin-top: 70px;
    border-radius: 20px;
    width: 80vmin;
    padding: 3vmin;
    padding-bottom: 10vmin;
    margin-bottom: 100px;
  }
}
