* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

img {
  width: 35vmin;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #e4e2dd;
  padding: 0.5vmin;
  /* position:fixed;
  width:100%;
  z-index: 1; */
}


@media only screen and ((max-width: 568px)) {
  img {
    width: 60vmin;
    height: auto;
  }

  nav {
    padding: 2vmin;
  }
}
