
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}


.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e2dd;
  width: 50vmin;
  border-radius: 10px;
  height: 4rem;
  padding: 0 15px;
  margin: 10vmin auto;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  width: 100%;
}

input:focus {
  outline: none;
}

#icon {
  color: #757474;
  font-size: 9vmin;
  position: absolute;
  left: 134vmin;
  top: 17vmin;
}

#icon:hover {
  color: #e4e2dd;
  cursor: pointer;
  transition: 0.5s;
}



/* Adjustments for tablets and below */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


  #icon {
    font-size: 15vmin;
    position: absolute;
    left: 77vmin;
    top: 24vmin;
  }


}
